body {
    background-color: rgb(205, 227, 225);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#ss1 {
    background-image: url("./img/ss.jpg");
    background-color: rgb(84, 41, 6);
    background-size: cover;
    background-repeat: no-repeat;
    height: 180px;
}

#ll {
    color: rgb(0, 0, 0);
    background-color: rgb(223, 230, 236);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 15px;
    padding-bottom: 14px;
    height: 25px;
}






#s21 button {
    border-radius: 20px;
    background: honeydew;
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
    margin-left: 44%;
    margin-top: 40px;
    width: 160px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#s21 button:hover {
    background-color: lightgreen;
}

#s212 button {
    border-radius: 20px;
    background: honeydew;
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
    margin-left: 44%;
    margin-top: 40px;
    width: 160px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#s212 button:hover {
    background-color: lightgreen;
}
#b1{
    background-color: rgb(243, 237, 233);
    height:50px;
    margin-top: 350px;
 }
